.AllUploads {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    padding-top: 50px;
}

.AllUploads iframe {
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.AllUploads h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.AllUploads ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.file-list {
    height: auto;
    overflow: scroll;
}

.AllUploads li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    justify-content: space-between;
}

.AllUploads li .file-name {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
}


.AllUploads li::before {
    content: "📎";
    margin-right: 10px;
    font-size: 1.2rem;
    color: #666;
}


.AllUploads p {
    margin: 0;
}

.AllUploads li .delete-button {
    background: url(../assets/recycle-bin.png) no-repeat;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.AllUploads li .delete-button:hover {
    transform: scale(1.1);
}