.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    padding: 20px;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.sidebar .sidebar-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar .sidebar-footer {
    margin-top: auto;
}

.sidebar .sidebar-logo img {
    width: 55%;
}

.sidebar .sidebar-links button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.sidebar-links a {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    display: block;
}

.sidebar-footer {
    color: var(--white-color);
}