:root {
  --primary-color: #60BF81;
  --secondary-color: #3C3F3D;
  --background-color: #EDF0FA;
  --white-color: #F1F1F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  display: flex;
  margin: 0 auto;
  background-color: var(--background-color);
}

.right-container {
  width: 70%;
  text-align: center;
  padding: 20px;
}