* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 80%;
  display: flex;
  margin: 50px auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 20px;
  overflow: hidden;
}

.right-container {
  width: 30%;
  text-align: center;
  padding: 20px;
}